node_modules/
core/**/node_modules
commands/**/node_modules
models/**/node_modules
utils/**/node_modules

yarn.lock
core/**/yarn.lock
commands/**/yarn.lock
models/**/yarn.lock
utils/**/yarn.lock

package-lock.json
core/**/package-lock.json
commands/**/package-lock.json
models/**/package-lock.json
utils/**/package-lock.json